<div class="nowPlaying">
    <div class="playControl playing"></div>
    <a href="{{user.permalink_url}}" target="_blank">{{user.username}}</a>
    <span> -- </span>
    <a href="{{permalink_url}}" target="_blank">{{title}}</a>
</div>