<header>
    <div class="center">
        <h1>
            DodgeBEAT<img src="images/powered_by.png" />
            <br/><span>Created by Michael Good</span>
        </h1>
        <form id="searchForm">
            <img id="soundOnOff" src="images/sound-on.gif"/>
            <label for="searchQuery"></label>
            <input id="searchQuery" type="text" placeholder="Search SoundCloud..."/>
            <input id="searchButton" type="submit" src="images/search_icon_small.png" />
        </form>
    </div>
</header>

<div id="main">
    <div id="loadSpinner">
        <img src="images/spinner.gif" />
        Loading...
    </div>
    <div id="searchContainer"></div>
</div>